
body {
  webkit-tap-highlight-color: #0085A1;
  font-size: 20px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
  font-weight: 400;
}
a {
  color: #333333;
}
a:hover,
a:focus {
  color: #0085A1;
}

.intro-header {
  background-color: #000;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans';
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}

#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 15px;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 30px;
    border-left: 1px solid #e7e7e7;
  }
  .sidebar .sidebar-nav.navbar-collapse{
    height: 100vh;  
  }
}
@media (max-width: 768px){
  .sidebar .sidebar-nav.navbar-collapse{
    height: 100%;  
  }
}
.navbar {
  background-color: #000;
  columns: white;
}
.navbar-default .navbar-brand  {
  color: white;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
  background-color: #293041;
}
.sidebar ul li {
  border-bottom: 0px solid #e7e7e7;
}
.sidebar ul li a {
  color: #aaccff;
  font-size: 15px;
}
.sidebar ul li a:hover, .sidebar ul li a:focus  {
  background-color: #374356;
  color: white;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 50px;
    height: 100vh;
    background-color: #293041;
  }
}
.site-subheading{
  text-align: center; 
  padding: 10px;
}
.page-header{
  padding: 20px;
}
/** Login Page **/
#login {
    padding-top: 40px;
    padding-bottom: 40px;
}

#login .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
#login .form-signin .form-signin-heading,
#login .form-signin .checkbox {
    margin-bottom: 10px;
}
#login .form-signin input[type="text"],
#login .form-signin input[type="password"],
#login .form-signin input[type="email"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}